@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Merriweather:wght@300;400;700&display=swap");

:root {
  --text: #ffffff;
  --background: #141414;
  --primary: #376ac8;
  --secondary: #303030;
  --accent: #c1fbd2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  background-color: var(--background);
}

/* site container */

#content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--background);
}

#nav-menu,
#task-menu {
  flex: 0.5;
}

#main-content {
  flex: 2;
  border-left: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
}

/* vvv Menu Stuff vvv */

.menu-title,
.task-title {
  color: var(--text);
  padding: 1.5rem 1.5rem;
}

/* vvv Main Content Stuff vvv */

.current-main-title {
  color: var(--text);
  padding: 1rem 0rem;
  font-size: 2.5rem;
  text-align: center;
}

/* vvv Task Content Stuff vvv */
