@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Merriweather:wght@300;400;700&display=swap");

:root {
  --text: #ffffff;
  --background: #141414;
  --primary: #376ac8;
  --secondary: #303030;
  --accent: #c1fbd2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  background-color: var(--background);
}

/* site container */

#content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--background);
}

#nav-menu {
  flex: 0.5;
}

#task-menu {
  flex: 1;
}

#main-content {
  flex: 2;
  border-left: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
}

/* vvv Menu Stuff vvv */

.menu-title,
.task-area-title {
  color: var(--text);
  padding: 1rem 1rem;
  font-size: 2rem;
  font-family: "Karla";
}

.menu-section-title {
  color: var(--text);
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  font-family: "Karla";
}
.menu-list li {
  font-size: 1rem;
  color: var(--text);
  padding: 1rem 2.5rem;
  font-family: "Merriweather";
}

.tasks-list li:hover,
.lists-list li:hover {
  background-color: var(--secondary);
}

/* .lists-list li:nth-child(1):hover,
.lists-list li:nth-child(2):hover,
.lists-list li:nth-child(3):hover {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.lists-list li:nth-child(1):hover {
  background-color: var(--primary);
}
.lists-list li:nth-child(2):hover {
  background-color: hsl(0, 54%, 52%);
}

.lists-list li:nth-child(3):hover {
  background-color: hsl(53, 88%, 45%);
} */

/* vvv Main Content Stuff vvv */

.current-main-title {
  color: var(--text);
  padding: 1rem 0 0 1rem;
  font-size: 3rem;
  text-align: left;
  font-family: "Karla";
}

/* vvv Task Content Stuff vvv */

.task-area-title {
  font-family: "Karla";
  padding: 1rem;
}
#new-task-form {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-input {
  background-color: var(--secondary);
  color: var(--text);
  width: 100%;
  margin-bottom: 0.25rem;
}

.task-input::placeholder {
  color: hsl(0, 0%, 80%);
  font-size: 0.8rem;
  font-family: "Merriweather";
}

.new-task-label {
  color: var(--text);
  font-family: "Karla";
}

.new-task-wrapper {
  width: 90%;
}
#new-task-date {
  width: 100%;
}

/* task description input text area */
.task-description-input {
  height: 10rem;
  resize: vertical;
  border-width: 2px;
  margin-bottom: 0;
}

/* submit button */

.task-submit-btn {
  background-color: var(--secondary);
  color: var(--text);
  width: 20%;
  padding: 0.25rem;
  margin-top: 0.5rem;
}
